<div class="addBook-container">

  <form #form="ngForm"  class="register" action="" method="post" (ngSubmit)="add(form)">
    <div class="form-group">
      <label for="title">title:</label>
      <br>
      <input type="title" name="title" id="title" #titleInput="ngModel" required ngModel>
      <ul *ngIf="titleInput.invalid && titleInput.touched" class="errors">
        <li *ngIf="titleInput.errors?.required">title is required!</li>
      </ul>
    </div>

    <div class="form-group">
      <label for="author">author:</label>
      <br>
      <input type="author" name="author" id="author" #authorInput="ngModel" required ngModel>
      <ul *ngIf="authorInput.invalid && authorInput.touched" class="errors">
        <li *ngIf="authorInput.errors?.required">author is required!</li>
      </ul>
    </div>

    <div class="form-group">
      <label for="publishHouse">Publish House:</label>
      <br>
      <input type="publishHouse" name="publishHouse" id="publishHouse" #publishHouseInput="ngModel" required ngModel>
      <ul *ngIf="publishHouseInput.invalid && publishHouseInput.touched" class="errors">
        <li *ngIf="publishHouseInput.errors?.required">publish house is required!</li>
      </ul>
    </div>

    <div class="form-group">
      <label for="imgUrl">Image Link:</label>
      <br>
      <input type="imgUrl" name="imgUrl" id="imgUrl" #imgInput="ngModel" required ngModel>
      <ul *ngIf="imgInput.invalid && imgInput.touched" class="errors">
        <li *ngIf="imgInput.errors?.required">img link is required!</li>
      </ul>
    </div>

    <div class="form-group">
      <label for="page">Pages:</label>
      <br>
      <input type="page" name="page" id="page" #pageInput="ngModel" required ngModel>
      <ul *ngIf="pageInput.invalid && pageInput.touched" class="errors">
        <li *ngIf="pageInput.errors?.required">page is required!</li>
      </ul>
    </div>

    <div class="form-group">
      <label for="price">Price:</label>
      <br>
      <input type="price" name="price" #priceInput="ngModel" id="price" required ngModel>
      <ul *ngIf="priceInput.invalid && priceInput.touched" class="errors">
        <li *ngIf="priceInput.errors?.required">price is required!</li>
      </ul>
    </div>

    <ng-template #disabledBtn> <button disabled class="add-btn">Add Book</button></ng-template>
    <ng-template #enabledBtn> <button class="add-btn">Add Book</button></ng-template>
    <ng-container *ngTemplateOutlet="form.invalid ? disabledBtn : enabledBtn" > </ng-container>

  </form>


</div>
