<div class="home-container">
  <section class="information">
    <article class="information-text">
      <p>
        Hello dear,
      </p>
      <p>
        Before you buy, you need to register or log in because
        Our policy does not give</p>
      <p><b>Guests tо buy</b></p>
    </article>
    <article class="register-login">
      <ul class="register-login-ul">
        <li><a href="#" class="register-btn">Register</a></li>
        <li><a href="#" class="login-btn">Login</a></li>
      </ul>
    </article>
  </section>

</div>
