<div class="contact-container">
  <section class="contact">
    <article class="article-img">
      <img src="/assets/images/contactUs-removebg-preview.png" alt="">
    </article>
    <article class="contact-text">
      <p>BY PHONE</p>
      <p>Bulgaria:</p>
      <article class="work-time">
        <p>Monday - Friday:10:00 - 16:00</p>
        <p>Saturday:12:00 - 15:00</p>
        <p>Sunday and holidays:09:00 - 12:00</p>
      </article>

      <p>+359 895 123456</p>
    </article>
  </section>
</div>
