<header>
  <div class="div-img"><img src="/assets/images/books.png" alt="images" class="img"></div>
  <div class="store-name">
    <p class="store-name-p">Book Store</p>
  </div>
  <nav>
    <ul class="nav-ul guest">
      <li><a routerLink="home">Home</a></li>
      <li><a routerLink="books">Books</a></li>
      <li><a routerLink="register">Register</a></li>
      <li><a routerLink="login">Login</a></li>
      <li><a routerLink="contact">Contact Us</a></li>
    </ul>

    <ul class="nav-ul user">
      <li><a routerLink="home">Home</a></li>
      <li><a routerLink="books">Books</a></li>
      <li><a routerLink="profile">Profile</a></li>
      <li><a >Logout</a></li>
      <li><a routerLink="contact">Contact Us</a></li>
    </ul>
  </nav>
</header>
